{% extends "base.html" %}
{% block content %}
<div class="profil">
    <div class="head">
        <div class="img"></div>
        <div class="nom">
            <p>{{user.username}} ( {{user.first_name}} {{user.last_name}} )</p>
        </div>

    </div>
    <div class="body">
    <div class="articles">
        <h5>les articles</h5> 
        <div>
            {% for article in articles  %}
            <p>{{article.title}} </p> <p>{{  article.content}}</p>
            {% endfor %}
        </div>
    
    </div>
</div>
</div>
{% endblock  %}